<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-3">
          <select class="form-control" (change)="onSelected($event.target.value)">
            <option value="0">- Display All -</option>
            <option *ngFor="let category of categories$ | async" [value]="category.id">
              {{category.name}}
            </option>
          </select>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-outline-secondary" (click)="onAdd()">Add Book</button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table mb-0" *ngIf="booksSimpleFilter$ | async as books">
        <thead>
          <tr>
            <th>Book</th>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
            <th>In Stock</th>
          </tr>
        </thead>
        <tbody *ngFor="let book of books">
          <tr>
            <td>{{ book.bookName }}</td>
            <td>{{ book.bookCode }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.price | currency:"USD":"symbol":"1.2-2" }}</td>
            <td>{{ book.quantityInStock }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
