<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/AngularRxJS.png" alt="RxJS in Angular -
          Reactive
          Development" class="img-responsive
          center-block"
          style="max-height:300px;padding-bottom:50px">
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center"><h3>Vivekanand Rao</h3></div>
      <div class="text-center">@viveksrao</div>
      <div class="text-center">
        <a href="https://viveksrao.com" target="_blank">https://viveksrao.com</a>
      </div>
    </div>
  </div>
</div>